.banner {
  background: fade-out($color-blue, 0.25);
  border-top: 12px solid $color-blue;
  color: white;
  padding: 54px 18px 54px;
  text-align: center;
  width: 100%;
}

.banner-title {
  display: none;
  margin: 0 auto;
  max-width: columns(4, true);
}

.banner-avatar img {
  border: 4px solid $color-white;
  border-radius: 50%;
  margin: 0 auto;
  width: 72px;
}

.banner a {
  color: fade-out($color-white, 0.4);
  text-decoration: none;

  &:hover {
    color: $color-white;
  }
}
