$base-font-size: 16px;

// Colors

$color-blue: #2093CF;
$color-black: rgba(0, 0, 0, 0.8);
$color-gray: #EEE;
$color-white: #FFF;

// Widths

$width-layout: 1152px;
$width-column: 162px;
$width-gutter: 36px;

// Heights

$line-height: 1.5;
$height-baseline: 36px;
