<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>

  <body>
    <header role="banner" class="banner">
      <a href="/" class="banner-avatar">
        <img src="/assets/images/avatar.jpg" srcset="/assets/images/avatar@2x.jpg 2x" alt="" />
      </a>

      <h1 class="banner-title"><a href="/">{{ site.author }}</a> is a Chicago-based designer and front-end developer.</h1>
    </header>

    <main role="main">
      <article class="post">
        <div class="post-header">
          <h2>{{ page.title }}</h2>
          <time pubdate class="post-date">{{ page.date | date: '%b %e, %Y' }}</time>
        </div>

        {{ content }}
      </article>
    </main>
  </body>
</html>
