.post-list li {
  display: inline-block;
  margin-right: -2px; // Remove whitespace between list items
  vertical-align: top;
  width: 50%;
}

.post-list li:nth-of-type(odd) {
  padding-right: ($width-gutter / 2);
}

.post-list li:nth-of-type(even) {
  padding-left: ($width-gutter / 2);
}
